<div class="stats">
    <div class="counter-box" >
        <div class="Counter" routerLink="/dashboard/domains">
            <div>120</div>
            <p>Domains</p>
        </div>
    </div>
<div class="counter-box">
    <div class="Counter">
        <div>10</div>
        <p>Admin</p>
    </div>
</div>
<div class="counter-box">
    <div class="Counter">
        <div>30</div>
        <p>Tutors</p>
    </div>
</div>
<div class="counter-box">
    <div class="Counter">
        <div>120</div>
        <p>Students</p>
    </div>
</div>

</div>
<div class="Quick-Actions">
<div routerLink="/dashboard/domains" > <i class="bi bi-gear-fill"></i> Manage Domains</div>
<div routerLink="/dashboard/manageUsers" ><i  class="bi bi-person-gear"></i> Manage Users</div>
<div><i class="bi bi-person-gear"></i> Manage Tutors</div>
</div>
