

.login-container{

    height: 70vh;
    top:20vh;
    position: relative;
    margin: auto;
    border-radius: 40px;
    margin-bottom: 200px;

}
.loginText{
    color: white;
    background-color: black;
    font-size: 2.1rem;
    word-spacing: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Niconne', cursive;
    padding: 50px 0px w0px;
}
.form-control {
    min-width: 60%;
    border-radius: 30px;
    border: 2px rgb(255, 255, 255) solid;
    box-shadow: none  ;
    height:40px;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color: white;
}
.loginButton{
    margin-top: 40px ;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.loginButton button{
    padding: 10px 40px;
    background-color: black;
    color: white;
    border:solid 1px;
    border-radius: 30px;
   
}
.errors{
    color: rgb(179, 188, 122);
    padding-top: 20px;
    padding-left: 40px;
    font-size: 0.7rem;
}
.loginButton button:hover{
    padding: 10px 40px;
    background-color: white;
    color: black;
    border:solid 1px;
    border-radius: 30px;
   
}
.form-label{
    margin-top: 30px;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: 900;
}
.loginElement{
    padding:1px 0px;
    position:relative;
    width: 400px;
    margin: auto;

}
.login-Div{
    width: 75%;
    height: 60vh;
    background-color: white;
}
.imagecontainer{
    margin-top: 100px;
    position: relative;
    padding: 10px;
    height: max-content;
}
.loginBook{
    width: 35%;
    border: 4px solid rgb(251, 251, 251);
    position: relative;
    z-index: 1;
    left:20%

}
.loginBookSecondary{
    width: 40%;
    border: 4px solid rgb(255, 255, 255);
    position: relative;
    left:10%;
    aspect-ratio: 2.2/3;
}
.login-content{

    color:white;
    z-index:-9;
    position: relative;
    padding: 40px;
    border-radius: 40px;
    top:100px;
    padding-top: 50px;
    text-align: justify;
    width: 100%;
}

