
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
.carousel-slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  
}
.slide-header{
    padding-top: 60px ;
    padding-left: 40px;
    font-size: 2rem;
    font-family: 'Koulen', cursive;
    color: white;
}

.slider-nav-block{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
    
    
}
.slider-nav-block p{
    display: flex;
    align-items: center;
    margin-top: 10px;
   


}
.slider-nav{
background-color: aliceblue;
height: 5px;
width: 5px;
display: inline-block;
border-radius : 5px ;
margin: 0px 15px;
}
.slider-nav-active{
    background-color: aliceblue;
    height:8px;
    width: 8px;
    display: inline-block;
    border-radius : 8px ; 
    margin: 0px 15px;  
}
.slider-text{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    position: relative;
    align-items: center;
    height: 100px;
    font-family: 'Mate SC', serif;
    margin-top: 50px;
  
}

.form-control {
    min-width: 60%;
    border-radius: 30px;
    border: 1px rgb(255, 255, 255) solid;
    box-shadow: none  ;
    height:40px;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color: white;
}
.form-control::placeholder{
    color: blanchedalmond;
}
.slide-text{
    font-family: 'Mate SC', serif;
    font-size: 1.2rem;
    position: absolute;
    bottom: 30px;
    padding: 10px;
}
.background-drop{
    height: 100%;
    position: relative;
    cursor: pointer;
    border:  white solid 2px;
    border-radius: 20px ;

}
.carousel-item{
    display: none;
    border-radius: 10px;
    min-width: 97%;
    margin:1.5%;
    min-height: 35vh;
}

.carousel-item:hover{
    display: block;
    scale: 1.03;
}

@keyframes sliding-effect-next {
    0%{
        translate: 103%;
    }
    5%{
        translate: 0%;
    }

    90%{
        translate: 0%;
    }
    100%{
        translate: 0%;
    }
    
}
@keyframes sliding-effect-prev {
    0%{
        display: inline-block;
        translate: 0%;
    }
    5%{
        translate: -103%;  
    }
    11%{
        display: none;
    }
    
}

.activeSlide{
    animation: sliding-effect-next 8s  infinite;
    
    display: inline-block;
}
.card{
    width: 90%;
    color: white;
    border:2px white solid;
    border-radius: 30px;
    background-color: black;
    padding: 5%;
    margin: 30px;
    aspect-ratio: 1/1;
    position: relative;
}
.card-title{
    font-size: 1.2rem;
    font-weight:bold ;
}
.card-description{
    position: absolute;
    bottom: 10px;
    padding: 14px;
    font-size: 0.9rem;
}
.card:hover{
    scale: 1.05;
}
.card-money{
margin-top: 30px;
color: bisque;
}
