@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.Home{
    position: relative;
    background-color: black;
    left:0px;
    right:0px;
    position: absolute;
    top:300px;
    bottom:0px;
}


.moon-img{
    height: 70%;
    left:-200px;
    top:90px;
    position:absolute;
    
}
.menu-Trigger {
    position: fixed;
    top:30px;
    right:30px;
    color:aliceblue;
    font-size: 20px;
    z-index: 5;
    text-shadow: 1px 0.5px ;
}
.menu-Trigger:hover{
   cursor: pointer;
}
.menu-Trigger:active{
    cursor:progress;
}
.stars{
    color: white;
    font-size: 10px;
    position: absolute;
    left:300px;
    animation: stars_Shine 3s infinite;
    
}
@keyframes stars_Shine {
    0%{
        color: aqua;
    }
    50%{
        color: black;
    }

    75%{
        color: bisque;
    }
}
.Home-character{
    background-color: rgb(255, 246, 246);
    font-weight: bold;
    word-spacing: 1rem;
    height: 380px;
    color: black;
    font-size: 1rem;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:10px
}
.Home-character p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
   


}

.TagLine span{
    margin: auto;
    width: 100%;


}
 .TagLine span p{
    width: 100%;
  
    align-items: center;
    justify-content: center;
    display: flex;

 }

.inner-tag::before{
   
    color: white;

}
.metric-count{
width: 27%;
aspect-ratio: 1/1;
border-radius: 100%;
border: 5px solid white;
display: inline-flex;
margin: 70px 30px;
font-size: 1rem;
align-items: center;
justify-content: center;
color: white;
padding-bottom: 10px;
}
#character{
    width: 300px;
    align-self: center;
    justify-content: center;
    position: relative;
    z-index:1;
    padding: 0px;

}
.metric-count:nth-child(1){
    width: 18% !important;
    
}
.metric-count:nth-child(3){
    width: 18% !important;
}

.meter{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    margin: 0px;


}
.searchBar:active{
border: transparent;
box-shadow: none;
}
.meter-base{
    width: 100%;
    height: 22%;
    z-index: 1;
    background-color: black;
    position: relative;
    top: -40%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    color: white;
}
.tag{
    background-color: white;
    color: black;
    padding: 3px 13.5%;
    border-radius: 20px;
    top:-40%;
    position: relative;
}
.tag:nth-child(1){
    padding: 3px 9%;
    border-radius: 20px;

}
.tag:nth-child(3){
    padding: 3px 9%;
    border-radius: 20px;
}
.button-centeric{
    display: flex;
    justify-content: center;
    width: 100%;

}
.home-content{
    background-color: rgb(256, 256, 256);
    min-height: calc(100vh-100px);
    margin-top: 100px;
    margin-bottom:0px
}
.overlay-css{
    
    z-index: 2;
    position: relative;
    margin:0px
}
#left-triangle{
   
    border-top: 0px solid black;
    border-bottom: 100px solid transparent;
    border-left: 0vw solid transparent;
    border-right:30vw solid black ;
    height: 0px;
    width: 0px;
    padding: 0px;
    position: relative;
    left:5px
  
}
.welcome-text{
    font-size: 2.1rem;
    color: black;
    font-weight:bold;
    padding: 10px;
    padding-top: 100px;
}
.welcome-text-secondary{
    color: black;
    margin-top: 50px;
}
@media screen and (max-width:1300px) {
    .welcome-text{
        font-size: 1.7rem;
    }

    .welcomeline{
        display: none;
    }

}
.WelcomeStrikeOut{
    width: 4px;
    height: 600px;
    background-color: black;
    transform: skew(20deg);
    margin-left: 100px;

    
}

#right-triangle{
   
    border-top: 0px solid black;
    border-bottom: 100px solid transparent;
    border-left: 30vw solid black;
    border-right:0vw solid transparent ;
    height: 0px;
    width: 0px;
    margin:0px;
    padding: 0px;
    position: relative;
    left:-5px
}
.place-right{
    display: flex;
    padding: 0px;
    justify-content: right;
    margin-bottom: 10px;


}
.place-left{
    display: flex;
    padding: 0px;
    justify-content: left;


}
.loginButton{
    color: black;
    padding: 9px 40px;
    margin-top: 40px;
    border-radius: 40px;
    border:2px solid black;
    background-color: white;
}


.loginButton i {
    margin-left: 8px;
}


.route-items{
    color: white;
    display: flex;
    padding: 20px;
    background-color: black;
    margin-top:10px ;
    width: 240px;
    cursor: pointer;
}
.route-items:hover{
    background-color: rgb(28, 28, 28);
}
.route-items-child{
    width: 90%;
}