<app-header></app-header>
<div class="Home">
    
    <!-- <img class="moon-img" src="assets/Moon.png"> -->
 
    <div class="stars">*</div>
    <div class="row  no-extra-margin">
        <div class="col-md-12">
            
        </div>
        <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-4 col-sm-6 "><input value="ARIHANT" class="form-control  searchBar"><div class="searchIcon"><i class="bi bi-binoculars-fill"></i></div></div>
        <div class="col-md-4 col-sm-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-12">
            <div class="meter">
        <span class="metric-count">{{TutorsCount}}</span>
        <span class="metric-count">{{TuteesCount}}</span>
        <span class="metric-count">{{InstituteCount}}</span>
    
            </div>
            <div class="meter-base">
                <span class="tag">Tutors</span>
                
                <span class="tag">Tutees</span>
                
                <span class="tag">Institutes</span>
            </div>

        
    </div>
        <div class="col-md-3"></div>
    </div>
</div>