.container{
    color:white;
    z-index:-9;
    position: relative;
    padding: 40px;
    border-radius: 40px;
    padding-top: 150px;
    text-align: justify;
    width: 100%;
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}
.header-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.heading-div{
    border-radius: 74% 162% 99% 132%; 
    min-height: 264px;
    width: 343px;
    overflow: hidden;
    padding: 2px;
    text-wrap: balance;
    padding: 60px;
    background: radial-gradient(circle, rgb(43 58 163) -27%, rgb(26 30 55 / 54%) 11%, rgb(116 95 35) 134%);
    text-align: left;
    display: inline-block;
    justify-self: center;
    animation: slowDisplay 1s ;
    

}
.heading-div2{
    display: inline-block;
    width: 80%;
    padding: 40px;
    margin-top: 20px;
    margin-left: 150px;
    border-bottom: solid #754b4b;
    animation: slowDisplay 0.8s ;
    

}

@keyframes slowDisplay{
    0%{
        margin-top: 150px;
        display: none;

    }
    0%{
        margin-top: 80px;
        display: none;

    }
    100%{
        display: block;
        
    }
}


.cube{
    position:relative;

}.cube div{
    width: 300px;
    height: 300px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
     background-color: rgb(1, 0, 0);
    letter-spacing: 3px;
    padding: 10px;
    box-shadow: 30px 10px 200px  rgb(142, 92, 92);
  
}

.cube div:nth-child(1){
   transform: translateZ(150px) rotateZ(0deg);
  
}
.cube div:nth-child(2){
    transform: rotateY(90deg)rotateZ(0deg) translateZ(150px);
}
.cube div:nth-child(3){
    transform: rotateY(90deg) rotateX(90deg) rotateZ(0deg) translateZ(150px);
 }
 .cube div:nth-child(4){
    transform: rotateY(180deg)  translateZ(150px); 
 }
 .cube div:nth-child(5){
  transform: rotateY(-90deg) rotateZ(0deg) translateZ(150px); 

 }
 .cube div:nth-child(6){
    transform: rotateX(-90deg) translateZ(150px);  }
.cube-Container{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cube {
    animation: spincube 5s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 150px 150px 0;
    top:-125px;
    left: -150px;
  
  
}

@keyframes spincube {
    20%      { transform: rotateY(-90deg); }
    40%      { transform: rotateY(-90deg)  }
    60%      { transform: rotateY(90deg) }
    80%      { transform: rotateY(90deg)  }
    100%      { transform: rotateX(90deg); }
}

.RegistrationDiv{
    width: 80%;
    height: 0px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-top: 100px;
    min-height: 700px;
    color: white;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
    box-shadow: inset -10px 1px 68px #a17b7b;
    padding: 50px;

}
.image-renderer{
    border: white solid 1px;
    aspect-ratio: 1/1;
    width:  60%;
    overflow: hidden;
    border-radius: 100% ;
    position: relative;
}
.image-renderer img{
    width: 100%;
    aspect-ratio: 1/1;
}
.image-renderer div{
position: absolute;
z-index: 1;
background-color: rgba(0,0,0,0.9);
width: 100%;
height: 100%;
top:60%;
text-align: center;
}
.image-renderer div:hover{
    background-color: black;
    cursor: pointer;
}
.div-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
.div-group label{
    display: none;
    position: absolute;
}
.div-group .label{
    position: absolute;
    top:-10px;
    left: 20px;
    display: block;
    color: rgb(205, 205, 154);
    font-size: 12px;
    font-weight: 700;
}


.div-group select:focus-visible{
    outline: none;
    border-bottom: rgb(205, 205, 154) solid 1px;
}
.div-group select option{
   background-color: black;
   width: 100%;
   height: 30px;
   border-radius: 1px;
}
.div-group select option:hover{
    background-color: white;
    color: black;
 }
.RegistrationDiv div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    
}

.div-group input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white ;
    width: 90%;
    box-shadow: none;
    padding: 20px 10px;
}
.div-group input:focus-visible{
    outline: none;
    border-bottom: rgb(205, 205, 154) solid 1px;
}
.div-group select{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white ;
    width: 90%;
    box-shadow: none;
    padding: 20px 10px;
}
.RegistrationForm{
    display: grid;
    grid-column: 100%;
    height: min-content;
}
.RegistrationForm div{
    width: 100%;
}

 button{
    background-color: black;
    color: white;
    outline: none;
    padding: 7px 22px;
    font-size: 0.7rem;
}
.overflow-hidden{
    overflow: hidden;
}
.otp-verifier{
    position: fixed;
    z-index:100;
    background-color: rgba(0,0,0,0.8);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.otp-div{
    width: 500px;
    height: 280px;
    border: white solid 1px;
    padding: 30px;
    color: #fdd0d0;
    border-radius: 30px;
    box-shadow: 1px 2px 32px #ac7979;
    font-family: 'IBM Plex Mono', monospace; 
    background-color: black;  
}
.otp-input-group{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
    justify-content: space-around;

}
.otp-inp{
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: inline-block;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border:1px solid white

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-button-grp{
    position: relative;
    margin-top: 30px;
}
.otp-button-grp button:nth-child(2){
    right: 10px;
    position: absolute;
}

.otp-button-grp button:nth-child(1){
    left: 10px;
    position: absolute;
}
@media screen and (max-width:600px) {
    .heading-div{
        width: 95% ;
        
   
    }
    
}


@media screen and (max-width:1018px) {
    .header-container{
        display: grid;
        grid-template-columns: 100%;
        
    } 
    .RegistrationDiv{
        grid-template-columns: 40% 60%;
        width: 90%;
        margin: 5%;
 
    } 
    .heading-div2{
        margin-left: 10px ;
        width: 90% ;
        padding: 10px ;
    }
}
@media screen and (max-width:600px) {
    .heading-div{
        width: 95% ;
        
   
    }
    .image-renderer{
        width: 40%;

    }
    .RegistrationDiv{
        grid-template-columns: 100%;
        min-height: 1100px;
 
    }  
    
}