@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Sail&display=swap');
.Horizontal-Menu{
    display: flex;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 3;
    top:0;
    height: 75px;
    width: 100%;
    padding: 0px 50px;

}

.EduverseLogo{
    width: 30%;
    padding:20px;
    display: flex;
    align-items: center;
    color: white;
    font-size:1.8rem;
    font-family: 'Bacasime Antique', serif;
    cursor: pointer;

}
.MenuItems{
    display: flex;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}
.menu-item{
    font-size: 0.8rem;
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    padding: 6px 14px;
    margin: 20px;
    cursor: pointer;
}
 .menu-item:hover{
    scale: 1.03;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 20px;
}
 .MenuItems .active{
    scale: 1.03;
    background-color: white ;
    color: rgb(0, 0, 0);
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 20px;
}
.MenuItems .menu-item .active{
    scale: 1.03;
    background-color: white ;
    color: rgb(0, 0, 0)  ;
    padding: 6px 14px;
    font-size: 0.8rem;
    border-radius: 20px;
}
.SideMenu-trigger{
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    color: white;
    text-shadow: 1px 1px;
    font-size: 24px;

}
@media screen and (max-width:1050px) {
    .MenuItems{
        display: none;
    }
  
    .SideMenu-trigger{
        display: flex;
    }
    
}
@media screen and (min-width:1051px) 
{
    .sideview{
        display: none;
    }
    
}

.SideMenu{
    position: fixed;
    z-index: 6;
    background-color: red;
    
    background-color: black;
    height: 100vh;
    padding: 20px;
    display: none;
    font-size: 0.9rem;
  

}

.openSideMenu .EduverseLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:50px;
    font-size: 2.1rem;
    border-bottom: solid 3px white;
    margin-bottom: 50px;
}
.sidemenuProfile{
    display: none;
}
.openSideMenu .sidemenuItems{
    margin:20px 10px 0px 20px;
  cursor: pointer;
    color: white;
    display: block;
    padding: 5px;
    position: relative;
}
.openSideMenu .sidemenuProfile{
    margin:20px 10px 0px 20px;
  cursor: pointer;
  font-size: 0.9rem;
    color: rgb(207, 199, 199);
    display: block;
    padding: 5px;
    position: relative;
    margin-bottom: 50px;
}
.openSideMenu .sidemenuItems i{
    position: absolute;
    right:10px;
}
.openSideMenu{
    display: block;
    width: 300px;
    animation: openSideMenuAnimation   ;
    animation-iteration-count: 1;
    animation-duration: 0.2s;

}

.closeSideMenu{
  
    animation: closeSideMenuAnimation   ;
    animation-iteration-count: 1;
    animation-duration: 0.1s;
    display: block;
    width: 0px;
    border: 0px;
    padding: 0px;

}
.profile-options{
background-color: black;
border: none;
font-size: 0.8rem;
color:white;
}
.userName{
    
    font-size: 0.8rem;
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    padding: 6px 14px;
    margin: 20px;
    cursor: pointer;
}
.userName:hover{
    background-color: black;
    color: white;
    scale: 1.1;
}
.dropdown{

    flex-direction: column;
    position: absolute;
    padding: 2px;
    display: none;
    right: 50px;
    border-radius: 3px ;
    z-index: 5;
    width: 100px;
    background-color: rgb(250, 238, 238);
    color: black;
}
.visible{
    display: flex;
}

.dropdown:hover{
    scale: none;
    width: 100px;
}
.options:hover{
    scale: none;
    position: relative;
    font-weight: bolder;
}


.options{
    height: 25px;
    position: relative;
    width: 130%;
    margin: 5px;

 }
.options i{
    position: absolute;
    right:0px
   


}


.closeSideMenu .sidemenuItems{
    display: none;
}
.closeSideMenu .EduverseLogo{
    display: none;
}
@keyframes closeSideMenuAnimation {
    0%{
        display: block;
        width: 300px;
    }
    100%{
        display: block;
        width:0px
    }
}
@keyframes openSideMenuAnimation {
    0%{
        display: block;
        width: 0px;
    }
    100%{
        display: block;
        width:300px
    }
}
.SideMenu .sidemenuItems:hover{
    background-color: white;
    color: black;
}
