<div class="Horizontal-Menu">
    <div class="EduverseLogo">
Eduverse
    </div>
 
    <div class="MenuItems">
<ng-container *ngFor="let item of routesItems" >
        <div  *ngIf="!document.URL.includes(item.item_route)" [routerLink]="item.item_route" class="route-items"><span class="route-items-child">{{item.item}} &nbsp; <i [class]="item.icons"></i></span></div>
        
    </ng-container>
</div>
    <div class="SideMenu-trigger sideview" (click)="toggleSideMenu()"><i *ngIf="sideMenuState" class="bi bi-chevron-bar-right"></i><i *ngIf="!sideMenuState" class="bi bi-list"></i></div>
</div>
<div class="sideview">
<div class="SideMenu" [ngClass]="{openSideMenu:sideMenuState,closeSideMenu:!sideMenuState}">
    <div class="EduverseLogo">
        Eduverse
    </div>
    <ng-container *ngFor="let item of routesItems" >
    <div *ngIf="!document.URL.includes(item.item_route)" (click)="navigate(item)"  class="route-items"><span class="sidemenuItems">{{item.item}} &nbsp; <i [class]="item.icons"></i></span></div>
</ng-container> 
</div>
</div>