
<div class="greetings col-md-12">
    <div class="userName">Hey {{userService.firstName}},</div>
Welcome to your dedicated workspace, designed to facilitate your productivity. Here, you can efficiently work, prepare your notes, and seamlessly upload documents with ease.
</div>

<div class="greetings col-md-12">
    <div class="date">
{{time|date}}
</div>
<br/>
{{time|date:'hh:mm:ss:a'}}
<img src="assets/Notes.jpg">
</div>

<hr>

<div class="row">
<div class="col-md-8">
<button (click)="newNote()">
    <i class="bi bi-plus-circle-dotted"></i>
    New Notes
</button>
<button>
    <i class="bi bi-folder-plus"></i>
    Create Folder
</button><button>
    <i class="bi bi-diagram-3-fill"></i>
    view insight
</button>
</div>
<div class="col-md-4">
    <input class="form-control" #search  placeholder="Search Folder/Notes ..">
</div>
</div>