.error-Toaster{
    position: fixed;
    top: 80px;
    width: 40%;
    padding: 15px 15px;
    color: white;
    font-weight: bold;
    right: 50px;
    box-shadow: 2px 1px 20px 4px rgb(222, 222, 222);
    border: rgb(118 74 74) solid 1px;
    z-index: 1013;
    background-color: black;
    animation: _ngcontent-bgp-c18_animateToster 1s;
    font-size: 0.9rem;


}
@keyframes animateToster{
    0%{
        top:100px
    }

}