<app-spinners *ngIf="Loader_text" [text]="Loader_text"></app-spinners>
<div class="no-extra-margin">

    <div class="signup-Container">
        <div class="signup-main ">
            <div class="row ">
                <div class="col-lg-6 col-md-12 div col-sm-12">
                    <div class="createAccounttext">

                        Create an account<br />
                        <div class="createAccounttextsecondary">- with Eduverse</div>

                    </div>
                    <div class="createaccountimage">
                        <img src="assets/createaccountImage.png">
                    </div>
                    <div class="createaccountimagesecondary">
                        <img src="assets/createaccountImage2.png">
                    </div>
                </div>
                <div class="col-md-0 col-lg-1"></div>
                <div class="col-lg-5 col-md-8 col-sm-10 authenticateDiv" >
                    <div class="prompt">
                    <div class="promp-Ask">
                    
                       <span [innerHTML]="prompt"></span> <span class="errorPrompt" *ngIf="errorPrompt" [innerHtml]="errorPrompt"></span><span class="blinkingCursor"></span>
                
                    </div>
                    <div class="userPrompt">
                     <button><i class="bi bi-arrow-left-short" (click)="back()"></i></button>
                        <input id="input-prompt" class="form-control" [formControl]="promptInput" (keypress)="promptInputEvents($event)">
                        <button (click)="next()" id="nextButton" [disabled]="promptInput.errors?.['required']"><i class="bi bi-send"></i></button>
                    </div>
                    </div>
                </div>
            </div>


        </div>

    </div>




</div>