@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300&family=Spectral+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.centeric-container{
    margin-top: 30px;
}

.errorPrompt{
    color: rgb(163, 163, 163);
}
.sign-in-ask{
    position: relative;
    top:60px;
    display: flex;
    justify-content: center;
    color: rgb(217, 215, 215);
    font-size: 0.8rem;
}
.signup-main{
width: 80%;
min-height: 95vh;
color: rgb(180, 148, 148);
}


.createaccountimage{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    border:1px solid black;
    padding: 10px;
    padding-left: 25%;
}
.createaccountimage img{
height: 34vh;
border: solid white 5px
}

.createaccountimage img:nth-child(2){
height: 30vh;
position: relative;
left: -100px;
top:20vh

}
.createAccounttext{
    color: rgb(206, 213, 213);
    text-align: center;
    font-size: 2rem;
    word-spacing: 0.4rem;
    font-weight: 400;
    font-family: 'Niconne', cursive;
    font-size: 3rem;
    padding-top: 30px;
  
}
.createAccountSubtext{
    color: rgb(184, 181, 177);
    width: 100%;
    text-align: center;
    font-size: 1rem;
    word-spacing: 0.2rem;
    font-weight: 400;   
    margin-top: 20px;
    font-size: 0.8rem;
}
.form-control {
    min-width: 60%;
    background-color: black;
    color: rgb(226, 214, 214);
    border-radius: 100px;
    border: 1px rgb(196, 179, 179) solid;
    box-shadow: none  ;
    height:40px;
    font-weight: 300;
    display: inline-block;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
}
.form-control:read-only {
    min-width: 60%;
   
    background-color: aquamarine;
    cursor: no-drop;
    border: 1px rgb(173, 167, 167) solid;
    box-shadow: none  ;
    background-color: rgba(102, 60, 60, 0.7);
   
}
.button-Label-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group-text{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 40px;
    align-self: center;
    width: 41px;
    border-radius: 100% ;
}

.prompt{
    border: solid rgb(216, 216, 216) 1px;
    height: 410px;
    text-align: justify;
    width: 65%;
    border-radius: 15px;
    padding:20px;
    font-weight: 200;
    font-size: 0.92rem;
    cursor: pointer;
    word-spacing: 4px;
    font-style: normal;
    font-family: 'Spectral SC', serif;
    padding: 20px;
    color: rgb(183, 197, 210);
}
.HeaderText{
    color: rgb(84, 200, 117);
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    margin: 20px;
    border-top: solid rgb(186, 140, 140) 1px;
}
.blinkingCursor{
    border: black solid 3px;
    background-color: black;
    margin-left: 3px;
    animation: blinkingCursorAnimation 0.4s infinite;
    
}
.userPrompt{
    display: flex;
    position: relative;
    justify-content: space-around;

    border-radius: 30px;
    width: 100%;

    display: flex;
    align-items: center;
    
}
.userPrompt button{
    background-color: rgb(134, 69, 69);
   color: white;
    padding: 10px 13px;
    margin:3px;
    border-radius: 30px;
    border:none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.userPrompt button:disabled{
    background-color: rgb(240, 224, 224);
}
.promp-Ask{
    height: 300px;
}
@keyframes blinkingCursorAnimation {
    0%{
    border: black solid 3px;
    background-color: black;
    }
    50%{  
        border: white solid 3px;
        background-color: white;
    }
    100%{
        background-color: black;
    }
    
}
.form{
    margin-top: 150px;
    
}
.standardUserPrompt{
    border-radius: 30px;
    width: 122%;
    left: -40px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.standardUserPrompt div {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    

}
.standardUserPrompt div button{
    background-color: rgb(134, 69, 69);
    color: white;
    font-size: 14px;
    padding: 5px 8px;
}
.authenticateDiv{
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
   
}
.buttons{
    margin-left: 0px;

}
.form-icons{
    z-index: 4;
    background-color: black;
    margin:10px;
    position: relative;

}