<div class="no-extra-margin">

    <div class="signup-Container">
        <div class="signup-main ">
            <div class="row ">
                <div class="col-lg-6 col-md-12 div col-sm-12">
                    <div class="createAccounttext">

                        Create an account<br />
                        <span class="createAccounttextsecondary">- with Eduverse</span>

                    </div>
                    <div class="createaccountimage">
                        <img src="assets/createaccountImage.png">
                    </div>
                    <div class="createaccountimagesecondary">
                        <img src="assets/createaccountImage2.png">
                    </div>
                </div>

                <div class="col-md-0 col-lg-1"></div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="col-md-12 col-sm-12 form" [formGroup]="signupForm">
                        <ng-container *ngFor="let attribute of FormAttributes" class="input-group">
                            <div class="input-group">
                        <span class="input-group-text">
                            <i  class="bi {{attribute.icon}} "></i>
                           </span>
                            <input formControlName="{{attribute.formControlName}}" class="form-control" [type]="attribute.inputType" [placeholder]="attribute.placeholder">
                        
                        </div>
                        </ng-container>
                         
              
                    </div>

                </div>
                <div class="col-md-0 col-lg-1"></div>
                
            </div>


        </div>

    </div>




</div>