.edu-png{

    width: 90%;
    aspect-ratio: 1.2/0.9;
}
.home{
    z-index: 2;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    position: fixed;
    right:10px;
    top:10px;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    color: black;
}

.about-us-Nav{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: a;
    color: #f5f5f5;
    z-index: 1;
    background-color: black;


}
.sticky{
    position: fixed;
    top:60px;
    left:0px;
    z-index: 2;
    
}
.nav-Buttons{
    padding: 3px 20px;
    border: solid white 1px;
    margin: 20px;
    border-radius: 30px;
    margin-top: 30px;

}

.row-top{
    margin:100px
}
.content-about-us{
   
    color: beige;
}
.content{
    padding-top: 15vh;
    font-size: 0.96rem;
    height: 60vh;
    display: flex;
    align-items: center;
    word-spacing: 1px;
    text-align:justify ;



}

.content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}
.content-img .img1{
    height:40vh;   
    border: 5px solid white;
    position: relative;
    left: 50px;
    margin: 80px 20px 20px 0px;
}
.profile{
margin-top: 70px;
}
.profile-name{
    font-size: 30px;
    color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    
}

.social-hangouts{
    font-size: 14px;
    color: bisque;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left:100px;
    font-size: 0.8rem;
}
.profile-img{
    border-radius: 0px;
    height: 40vh;
    aspect-ratio: 2.8/3;

}

a {
    color: rgb(246, 248, 209);
    text-decoration: none;

}
a:hover {
    color: rgb(246, 248, 209);
    text-decoration: underline;
}
.web{
    margin-top: 100px;
}
.dev{
    
    margin-top: 100px;
}
.profile-descr{

    border: rgb(199, 184, 184) 1px solid;
    width: 100%;
    margin:20px,100px;
    position: relative;
    border-radius: 3px;
}
.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 100%;

}
.skills{
    display: flexbox;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    margin-top:55px;
    overflow: none;
    text-align: justify;

  
}
.skills-child{
display: inline-block;
background-color: black;
opacity:90%;
color: white;
padding: 4px 20px;
border-radius: 30px;
font-size: 0.7rem;
margin: 10px;
}