.header{
    text-align: center;
    font-size: 2rem;
    font-family: 'Ysabeau SC', sans-serif;
}
.image{
    height: 300px;
    aspect-ratio: 1/1;
    border-radius:50% ;

}
.img-container
{
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 30% 70%;
    color: white;
}

.Institute-Details-Container{

    display: flex;
    flex-direction: column;
   
 
}
.Actions button{
 
    padding: 10px 40px;
    background-color: black;
    color: white;
    border:solid 1px;
    border-radius: 30px;    
    height: 45px;
    margin: 25px;
    
   
}
.Actions button:hover{
    background-color: white;
    color: black;
}
.Actions{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0px;
    border-top: 1px solid white;
    margin-top: 50px;
    
}
.Institute-Details-Container div{
    
    font-family: 'IBM Plex Mono', monospace;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 80%;
    margin-left: 20%;
    padding: 15px;
    border:1px solid rgb(190, 189, 187)
}
@media screen and (max-width:780px) {
    .Institute-Details-Container div{
        width: 90%;
        margin-left: 5%;
    }
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 50px;
    }
    
}
