<ng-container *ngIf="isRootPath()">
<div class="dashboard-box">
<div class="dashboard-img">
<img src="/assets/admindashboard.jpg" > 
</div>

<div class="dashboard-header">
    <font style="font-size: 1rem;">let's unite efforts and forge connections with institutes, working together to build a robust network</font>
    <br>
    <table>
        <tr>
            <th>
                Status
            </th>
            <th>
                Count
            </th>

        </tr>
        <tr *ngFor="let key of keys" (click)="ViewInstituteItem(key)">
            <td>
               {{key}}
            </td>
            <td>
            {{stats[key]}}
            </td>

        </tr>
    </table>
</div>
</div>
</ng-container>
<ng-container *ngIf="isInstituteSearchPath()">
    <table class="instituteTable">
        <tr>
            <th>
                Logo
            </th>
            <th>
                Institute Name
            </th>
            <th>
                Institute Type
            </th>
        
            <th>
                Status
            </th>
            <th>
                Email
            </th>

        </tr>
        <tr *ngFor="let key of allInstitutes" >
            <td>
                <img [src]="key.imgUrl" class="InstituteImage">
            </td>

            <td>
               {{key.instituteName}}
            </td>
            <td>
                {{key.instituteType}}
            </td>     
            <td>
                {{key.status}}
            </td>
            <td>
                {{key.emailId}}
            </td>


        </tr>
    </table>
</ng-container>